.message>.message-content,
.message>.message-content * {
    user-select: text;
}

.message>.message-content::selection {
    background: var(--primary-color);
    color: var(--inp);
}

.message-content .label{
    border: 2px solid var(--primary-color);
    /* background-color: ; */
    /* background: ; */
    /* opacity: 0.9; */
    /* color: var(--red); */
    user-select: none;
    margin: 3px 0;
    font-size: 0.9em;
    padding: 3px 10px;
    display: flex;
    width: max-content;
    align-items: center;
    text-wrap: nowrap;
    gap: 8px;
    border-radius: 100px;
    
    >* {
        user-select: none;
    }
}

.message-content .label.lb-stopped {
    border-color:var(--bright-red);
    /* background-color: ; */
    background: #ff6d6d30;
}

.message.assistant .label.lb-toolcall {
    padding: 5px 15px;
    >.name {
        font-weight: bold;
    }
}

/* Markdown 内容样式 */

.message-content h1,
.message-content h2,
.message-content h3,
.message-content h4,
.message-content h5,
.message-content h6 {
    font-weight: 100;
    margin-top: 10px;
}

.message-content h1 {
    font-size: 2.5em;
}

.message-content h2 {
    font-size: 2em;
}

.message-content h3 {
    font-size: 1.6em;
}

.message-content h4 {
    font-size: 1.3em;
}

.message-content h5 {
    font-size: 1.1em;
}

.message-content h6 {
    font-size: 0.9em;
}

.message-content blockquote {
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 10px;
    margin-inline-end: 0;
    padding: 5px 5px 5px 15px;
    border-radius: 0 10px 10px 0;
    background-color: #a0a0a014;
    border-left: 3px solid #2983cc;
}

.message-content pre {
    padding: 12px;
    border-radius: 10px;
    overflow-x: auto;
    margin: 8px 0;
    border: 1px solid var(--border-color);
}

.message-content code:not(pre code) {
    font-family: 'Consolas', monospace;
    background: var(--hover-color);
    padding: 2px 5px;
    margin: 0 3px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    font-size: 0.9em;
}

.message-content p {
    margin: 7px 0;
}

.message-content ul,
.message-content ol {
    margin: 3px 0;
    padding-left: 20px;
}

.message-content a,
.a.jump {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        filter: brightness(1.2);
    }

    &:active {
        opacity: 0.6;
    }
}

.message-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.message-content table {
    border-collapse: collapse;
    margin: 12px 0;
    font-size: 1em;
    background: var(--message-bot-bg);
}

.message-content table th,
.message-content table td {
    border: 1px solid var(--border-color);
    padding: 7px 15px;
}

.message-content table th {
    background: var(--list);
    font-weight: 600;
}

/* 思考 */

.fold-title {
    font-size: 14px;
    color: var(--text-color);
    user-select: none !important;
    /* opacity: 0.7; */
}

.fold-toggle {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: default;
    padding: 0;
    margin: 0;
    margin-right: -5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    outline: none;
}

.fold-content {
    margin: 8px 0;
    padding: 4px 10px;
    background: var(--card-bg);
    border-radius: 6px;
    /* border: 1px solid var(--border-color); */
    transition: opacity 0.3s ease-out;
}


.fold-content:not(.collapsed) .fold-toggle:hover {
    background-color: var(--hover-color);
}

.fold-content.collapsed {
    cursor: default;
    overflow: hidden;
    height: 36px;
    /* width: 100px; */
    color: transparent;
    position: relative;
    width: 110px;
    transition: 100ms;
}

.fold-content.collapsed .fold-body {
    opacity: 0;
    transition: 100ms;
}


.fold-content.collapsed:hover {
    background-color: #aaaaaa40;
}

.fold-content.collapsed:active {
    opacity: 0.6;
}

.fold-content.thinking {
    outline: 2px solid var(--primary-color);
}

.fold-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding-bottom: 8px;
    /* border-bottom: 1px solid var(--border-color); */
}


/* 数学公式 */
.katex-display {
    margin: 1em 0;
    overflow-x: auto;
    overflow-y: hidden;
}

/* 代码块样式 */

pre[class*="language-"] {
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    margin: 1em 0;
    position: relative;

    >.copy-code-btn {
        color: #fff;
        background: transparent;
        position: absolute;
        right: 7px;
        top: 7px;
        opacity: 0.6;
        height: 23px;
        width: 23px;
        padding: 0;
        text-align: center;
        cursor: default;
        border-radius: 4px;
        transition: 80ms;
        border: 1px solid transparent;

        &:hover {
            opacity: 1;
            background: var(--hover-color);
            border-color: var(--border-color);
        }

        &:active {
            opacity: 0.6;
        }
    }
}


/* 代码预览容器样式 */
.preview-container {
    margin: 1em 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
}

.preview-header {
    padding: 8px;
    background: var(--card-bg);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    >.preview-title {
        margin-left: 6px;
    }
}

.preview-container .preview-content {
    position: relative;
}

.preview-content pre,
.preview-content .rendered {
    margin: 0 !important;
    padding: 16px;
}

.preview-content pre {
    display: none;
    border-radius: 0;
}

.preview-content.show-code pre {
    display: block;
}

.preview-content .rendered {
    background: #ffffff30;
}

.preview-content.show-code .rendered {
    display: none;
}

.preview-toggle {
    /* display: flex;
    align-items: center;
    gap: 4px; */
    padding: 4px 8px;
}


[data-theme="dark"] {
    .fold-content {
        background: #ffffff15;
    }
}