<!DOCTYPE html>
<html>
<!-- - 改用 CEF 嵌套，统一 UI。
- 新增使用指南、疑难与功能文档。
- 键盘快捷键。
- 优化流式回答，优化 katex 渲染。
- 分离工具提示词。
- 细节优化、修复。 -->
<head>
    <title>Caph</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/settings.css">
    <link rel="stylesheet" href="static/css/message.css">

    <script src="static/js/jq.min.js"></script>
    <script src="static/js/marked.min.js"></script>

    <!-- KaTeX -->
    <link rel="stylesheet" href="static/lib/katex.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.9/katex.min.css"> -->
    <script src="static/lib/katex.min.js"></script>
    <script src="static/lib/auto-render.min.js"></script>

    <!-- 代码高亮 -->
    <link href="static/lib/prism.css" rel="stylesheet" />
    <script src="static/lib/prism.js"></script>
    <script src="static/lib/mermaid.min.js"></script>

    <script src="static/js/processor.js"></script>
    <script src="static/js/settings.js"></script>
    <script src="static/js/dom.js"></script>
    <script src="static/js/conversations.js"></script>

    <script src="static/tools.js"></script>
    <script src="static/config.js"></script>

    <script src="static/js/app.js"></script>
    <base target="_blank">
</head>

<body onkeydown="
console.log(event.key);
if(event.key=='F12' || event.key=='f12' || (event.ctrlKey && event.shiftKey && (event.key=='I' || event.key=='i'))){
    opendevtools();
}else if(event.key=='F5' || event.key=='f5' || (event.ctrlKey && (event.key=='R' || event.key=='r'))){
    location.reload(true);
}else if(event.key=='F1' || event.key=='f1'){
    event.preventDefault();
    window.cefBridge.openGuide();
}else if(event.ctrlKey && event.key.toLowerCase()=='arrowright'){
    event.preventDefault();
    window.cefBridge.hideWindow();
}
if($('#settings-modal').hasClass('show')){
    if(event.ctrlKey && event.key==','){
        event.preventDefault();
        settingManager.closeSettings();
    }else if(event.ctrlKey && event.key=='s'){
        event.preventDefault();
        settingManager.saveSettings();
    }
}else if($('#devtools-confirm').is(':visible')){
    if(event.key=='Escape' || event.key=='Esc'){
        event.preventDefault();
        $('#devtools-confirm').fadeOut(100);
        $('#app').addClass('show');
    }else if(event.key=='Enter'){
        event.preventDefault();
        if(window.cefBridge) {
            localStorage.setItem('opendevtools','true');
            window.cefBridge.openDevTools();
            $('#devtools-confirm').fadeOut(100);
            $('#app').addClass('show');
        }
    }
}else if($('#app').hasClass('show')){
    if(event.ctrlKey && event.key=='n'){
        event.preventDefault();
        conversationManager.createConversation();
    }else if(event.ctrlKey && (event.key=='s' || event.key=='S')){
        const payload = convManager.exportActiveConversation();
        if (!payload) {
        this.showError('没有要导出的会话');
        return;
        }
        const fname = (payload.name || 'conversation') + '.json';
        convManager.downloadObjectAsJson(payload, fname);
    }else if(event.ctrlKey && event.key=='o'){
        event.preventDefault();
        $('#import-file').trigger('click');
    }else if(event.ctrlKey && event.key=='m'){
        event.preventDefault();
        $('#sidebar').toggleClass('open');
    }else if(event.altKey && event.key=='m'){
        event.preventDefault();
        $('#current-model').trigger('click');
    }else if(event.ctrlKey && event.key==','){
        event.preventDefault();
        settingManager.openSettings();
    }else if(event.altKey && event.key=='t'){
        event.preventDefault();
        $('#toggle-tool').trigger('click');
    }else if(event.key=='Escape' || event.key=='Esc'){
        event.preventDefault();
        if($('.model-dropdown').length>0){
            $('.model-dropdown').remove();
        }
        if($('#sidebar').hasClass('open')){
            $('#sidebar').removeClass('open');
        }
    }
}
    ">
    <div id="header-cover">
    </div>
    <div id="title-bar">
        <div style="height: 100%;"><span id="caph">Caph</span></div>
        <div class="buttons">

            <button onclick="window.cefBridge.openAbout();" class="toolbar-button" title="关于">
                <span class="sfi">&#xE946;</span>
            </button>
            <button class="toolbar-button" title="隐藏 (Ctrl + 向右)" onclick="window.cefBridge.hideWindow();">
                <span class="sfi">&#xE974;</span>
            </button>
        </div>
    </div>
    <div class="app-container show" id="app">
        <div id="sidebar" class="sidebar">
            <!-- <div id="token-error" class="token-error" style="display: none;" onclick="settingManager.openSettings()">
                请先配置 Github Token
            </div> -->

            <!-- <div class="list">
                <div id="export-conversation" class="a">
                    <span class="sfi">&#xE74E;</span>
                    导出当前对话
                </div>
            </div>
            <div class="hr"></div> -->
            <div class="list">
                <div class="a" title="新建空对话" onclick="conversationManager.createConversation();">
                    <span class="sfi">&#xE710;</span> 新建对话
                    <span class="detail">Ctrl + N</span>
                </div>
                <div class="a" title="从本地的文件导入" onclick="$('#import-file').trigger('click');">
                    <span class="sfi">&#xE838;</span> 从文件导入
                    <span class="detail">Ctrl + O</span>
                </div>
            </div>
            <div class="list" id="conversations-list">
                <!-- conversations.js 会渲染新对话、会话列表与操作按钮 -->
            </div>
            <div class="hr"></div>

            <div class="list">
                <!-- <div id="open-settings" class="a">
                    <span class="sfi">&#xE713;</span>
                    设置
                </div> -->
                <div class="a" title="使用指南" onclick="window.cefBridge.openGuide();">
                    <span class="sfi">&#xE82F;</span>
                    使用指南
                    <span class="detail">F1</span>
                </div>

                <div id="open-devtools" class="a" title="打开 Devtools" onclick="opendevtools();">
                    <!-- <span class="sfi">&#xE62A;</span> -->
                    <span class="sfi">&#xE912;</span>
                    打开 Devtools
                    <span class="detail">F12</span>
                </div>
            </div>
            <!-- <div style="margin-top: auto;padding: 5px 14px; opacity: 0.7; text-align: center;font-size: 0.9em;line-height: 1.3em;">
                Developed by <nobr>Starry Source</nobr>
            </div> -->
        </div>

        <main class="main-content">
            <header class="chat-header" id="chat-header">
                <div class="model-selector">
                    <!-- <div id="current-model">
                        <span>?</span>
                    </div> -->
                </div>
                <div class="buttons">

                    <div id="token-error" class="token-error" style="display: none;"
                        onclick="settingManager.openSettings()">
                        请先配置 Github Token
                    </div>
                    <button id="export-conversation" class="toolbar-button" title="导出对话 (Ctrl + S)">
                        <span class="sfi">&#xE74E;</span>
                        导出
                    </button>
                    <button id="open-settings" class="toolbar-button" title="设置 (Ctrl + ,)">
                        <span class="sfi">&#xE713;</span>
                    </button>
                    <button id="more-button" class="toolbar-button" title="更多 (Ctrl + M)">
                        <span class="sfi">&#xE712;</span>
                    </button>
                </div>
            </header>

            <div id="chat-messages" class="chat-container"></div>

            <div class="input-container textarea-like" id="input-container">
                <textarea id="message-input" class="textarea" placeholder="Shift + Enter 换行，Enter 发送。
发送  &quot;/help&quot; 查看帮助。"></textarea>
                <div class="input-buttons">
                    <div style="margin-left: 3px;">
                        <div id="current-model" class="a" title="切换模型 (Alt + M)">
                            <span>?</span>
                        </div>
                        <button id="toggle-tool" class="button toolbar-button" title="使用工具 (Alt + T)">
                            <span class="sfi">&#xE90F;</span>
                        </button>

                    </div>
                    <div right>
                        <button id="send-button" class="a button primary">
                            <span class="sfi">&#xE724;</span>
                            发送
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- 隐藏的导入文件 input -->
    <input type="file" id="import-file" accept=".json" style="display:none" />

    <!-- 设置面板 -->
    <div id="settings-modal" aria-hidden="true">
        <div class="settings-modal">
            <div id="settings-sidebar">
                <div class="settings-sidebar list">
                    <div class="settings-menu-item a active section-general" data-section="general">
                        <span class="sfi">&#xE713;</span>
                        通用设置
                    </div>
                    <div class="settings-menu-item a" data-section="models">
                        <span class="sfi">&#xF0E2;</span>
                        <!-- <span class="sfi">&#xE74C;</span> -->
                        管理模型
                    </div>
                    <div class="settings-menu-item a" data-section="tools">
                        <span class="sfi">&#xEC7A;</span>
                        工具
                    </div>
                </div>
            </div>
            <div class="settings-content">
                <!-- 常规设置 -->
                <div class="settings-section active section-general" id="general-settings">
                    <div class="settings-header">
                        <h2 class="settings-title">通用设置</h2>
                    </div>
                    <div class="settings-form">
                        <div class="form-field">
                            <label>Github Token</label>
                            <input type="text" class="input-field" id="setting-token" placeholder="输入你的 Github Token"
                                oninput="$(this).removeClass('error')">

                            <div style="font-size:14px;opacity: 0.7;margin-top: 5px;">需要 Models 访问权限。<span class="lnkbtn" onclick="window.cefBridge.openGuide()" style="display: inline;">如何获取？</span></div>
                        </div>
                        <div class="form-field">
                            <label>基础提示词</label>
                            <textarea class="input-field textarea textarea-like" id="setting-simple-prompt" rows="4"
                                placeholder="基础部分的系统提示词，用以告知AI一些基础信息。"></textarea>
                        </div>
                        <div class="form-field">
                            <label>工具提示词</label>
                            <textarea class="input-field textarea textarea-like" id="setting-toolcall-prompt" rows="4"
                                placeholder="启用工具时，将此段追加到系统提示词之后。"></textarea>
                        </div>
                        <div class="form-field">
                            <label>温度 (Temperature)</label>
                            <div class="range-field">
                                <input type="range" id="setting-temperature" min="0" max="1" step="0.1" value="0.7">
                                <span class="range-value">0.7</span>
                            </div>
                            <div style="font-size:14px;opacity: 0.7;">越低，回答越稳定。</div>
                        </div>
                        <div class="button" onclick="window.cefBridge.openAbout()" style="margin-bottom: 10px;">
                            检查更新
                        </div>
                    </div>
                    <div class="settings-header">
                        <h2 class="settings-title">测试用</h2>
                    </div>
                    <div class="settings-form">

                        <div class="form-field">
                            <label>颜色主题</label>
                            <select class="input-field" id="setting-theme">
                                <option value="auto">跟随系统</option>
                                <option value="light">浅色</option>
                                <option value="dark">深色</option>
                            </select>
                            <div
                                style="font-size:14px;opacity: 0.7;">不建议手动设置。此项只决定内容的颜色主题，程序外壳的颜色会始终跟随系统，设置此项会造成背景与内容的颜色主题不匹配。</div>
                        </div>
                        <div class="form-field">
                            <label class="checkbox-wrapper">
                                <input type="checkbox" id="setting-stream">
                                <span>启用流式响应</span>
                            </label>
                            <div style="font-size:14px;opacity: 0.7;">保持勾选，不要关闭。</div>
                        </div>
                    </div>
                </div>

                <!-- 管理模型 -->
                <div class="settings-section" id="models-settings">
                    <div class="settings-header">
                        <h2 class="settings-title">管理模型</h2>
                        <span style="font-size:14px;opacity: 0.7;">管理AI模型，添加、删除或调整顺序。</span>
                        <div style="display: flex;">
                            <a class="lnkbtn"
                                onclick="window.cefBridge.openUrl('https:\/\/github.com/marketplace?task=chat-completion&type=models')">浏览
                                Github Models</a>
                            <a class="lnkbtn"
                                onclick="window.cefBridge.openUrl('https:\/\/docs.github.com/zh/github-models/use-github-models/prototyping-with-ai-models#rate-limits')">浏览额度</a>
                            <a class="lnkbtn" onclick="window.cefBridge.openGuide()">查看帮助</a>
                        </div>
                    </div>
                    <div class="models-grid" id="model-list">
                        <!-- 这里会动态填充模型卡片 -->
                    </div>
                </div>
                <!-- 工具 -->
                <div class="settings-section" id="tools-settings">
                    <div class="settings-header">
                        <h2 class="settings-title">工具</h2>
                        <span style="font-size:14px;opacity: 0.7;display: block;line-height: 1.3;margin-top: 5px;">查看所有可用工具。勾选代表启用此工具。你可以在输入框下方启用或禁用全部工具。</span>
                    </div>
                    <div class="list" id="av-tools-list">
                    </div>
                </div>

            </div>
        </div>
        <div class="settings-footer">
            <button id="save-settings" class="button primary">保存
                <span class="detail">Ctrl + S</span>
            </button>
            <button id="close-settings" class="button">取消</button>
        </div>

    </div>

    <div id="devtools-confirm" style="display: none;" class="modal-overlay">
        <div class="modal-box">
            <div class="modal-content">
                <h2>打开 Devtools？</h2>
                <p>你确定要打开 Devtools 吗？这常用于开发和调试。</p>
                <div style="margin-top: 20px; display: flex; gap: 10px;">
                    <button style="min-width: 50%;" class="button primary" onclick="if(window.cefBridge) {
                            localStorage.setItem('opendevtools','true');
                            window.cefBridge.openDevTools();
                            $('#devtools-confirm').fadeOut(100);
                            $('#app').addClass('show');
                        }">打开 Devtools</button>
                    <button class="button" style="width: 50%;" onclick="$('#devtools-confirm').fadeOut(100);
                        $('#app').addClass('show');">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>