<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="143.0.90" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="143.0.90" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="143.0.9" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="143.0.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.CodeDom" version="10.0.2" targetFramework="net472" />
  <package id="System.Management" version="10.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="WPF-UI" version="4.2.0" targetFramework="net472" />
  <package id="WPF-UI.Abstractions" version="4.2.0" targetFramework="net472" />
</packages>